$font-heading: 'Manrope', sans-serif;
$font-subtitle: 'Work Sans', sans-serif;
$font-text: 'Roboto', sans-serif;

$h1: 36px;
$h2: 24px;
$subtitle: 18px;
$text: 16px;
$small: 14px;

$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;