@use '@/styles/variables' as vars;

.input {
    border: vars.$border-color-main;
    font-size: vars.$size-text;
    background-color: vars.$color-bg-input;
    width: 500px;
    padding: 12px 20px;
    border-radius: 10px;
    color: vars.$color-text-main;
    font-family: vars.$font-text;
    font-weight: vars.$fw-light;
    box-shadow: vars.$shad-input;
    transition: all 0.2s ease;
    border: 1px solid vars.$border-color-main;
}
.input::placeholder {
    color: vars.$color-text-second;
}
.input:focus {
    outline: none;
    border: 1px solid vars.$color-accent;
    box-shadow: vars.$shad-focus;
}

.input:disabled {
    background: rgba(25, 30, 48, 0.45);
    border: 1px solid vars.$button-disabled-border;
    color: vars.$button-disabled-text;
    box-shadow: vars.$shad-butt-disabled;
    cursor: not-allowed;
}