@use '@/styles/variables' as vars;

.dataBlock {
    border: 1px solid vars.$border-color-main;
    border-radius: 8px;
    margin: 15px 0 0;
    padding: 10px 20px;
    height: 100%;
    
    &:hover {
        border: 1px solid vars.$color-accent-soft;
    }
}

.sslNameBlock {
    display: grid;
    grid-template-columns: 5fr 4fr;
    border-bottom: 1px solid vars.$border-color-card;
    gap: 20px;
}

.dateBlock {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid vars.$border-color-card;
}

.daysRemainingBlock {
    display: grid;
    grid-template-columns: 1fr;    
}

.checkRowBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}

.self_signed p {
    font-size: vars.$size-subtitle;
}

.nameProperty {
    font-size: vars.$size-text;
    color: vars.$color-text-second;
}

.description {
    font-family: vars.$font-data;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 20px;
    font-size: vars.$size-subtitle;
    font-weight: vars.$fw-regular;
}

.dataWithStatusBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 7px;
    
    &.notOk {
        grid-template-columns: 1fr;        
    }
}
.daysRemainingBlock .dataWithStatusBlock {
    display: grid;
    grid-template-columns: fit-content(50%) 1fr;
    align-items: center;
}
.daysRemainingBlock .dataStatus {
    text-align: end;
    justify-content: end;
}

.dataStatus {
    font-size: vars.$size-text;
    display: flex;
    gap: 10px;
    height: 100%;
    align-items: center;
}
.dataStatus.warning p {
    color: vars.$color-warning;
}
.dataStatus.ok p {
    color: vars.$color-success;
}
.dataStatus.error p {
    color: vars.$color-error;
}
.dataStatus p:first-child {
    height: 100%;
    display: flex;
    // align-items: center;
    padding-top: 2.5px;
    font-size: vars.$size-text;
}

.empty {
    color: vars.$color-text-muted;
    font-size: vars.$size-text;
    font-style: italic;
}