@use '@/styles/variables' as vars;

.dataBlock {
    border: 1px solid vars.$border-color-main;
    border-radius: 8px;
    margin: 15px 0 0;
    padding: 10px 20px;
    height: 100%;
    
    &:hover {
        border: 1px solid vars.$color-accent-soft;
    }
}

.checkRowBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}

.nameProperty {
    font-size: vars.$size-text;
    color: vars.$color-text-second;
}

.description {
    font-family: vars.$font-data;
    padding-left: 20px;
    font-size: vars.$size-subtitle;
    font-weight: vars.$fw-regular;
}

.dataWithStatusBlock {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 100%;
    gap: 20px;
    // align-items: center;
}

.dataStatus {
    font-size: vars.$size-text;
    text-align: end;
    display: flex;
    justify-content: end;
    gap: 10px;
    height: 100%;
    align-items: center;
}
.dataStatus.warning p {
    color: vars.$color-accent;
}
.dataStatus.ok p {
    color: vars.$color-success;
}
.dataStatus.error p {
    color: vars.$color-error;
}
.dataStatus p:first-child {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: vars.$size-text;
}

.empty {
    color: vars.$color-text-muted;
    font-size: vars.$size-text;
    font-style: italic;
}