@use '@/styles/variables' as vars;

.checkRowBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}

.checkRowBlock:not(:last-child) {
    border-bottom: 1px solid vars.$border-color-card;
}

.nameProperty {
    font-size: vars.$size-text;
    color: vars.$color-text-muted;
}

.description {
    padding-left: 20px;
    font-size: vars.$size-subtitle;
    font-weight: vars.$fw-light;
}
.descriptionValue {
    display: flex;
    gap: 20px;
    padding: 2px 0;
}
.descriptionValue p,
.warningStatus {
    color: vars.$color-accent;
    font-size: vars.$size-small;
}
.warningStatus {
    padding-top: 4px;
}

.descriptionValueNS,
.notOkValue {
    display: grid;
    grid-template-columns: fit-content(50%) 1fr;
    width: 100%;
    gap: 20px;
    // align-items: center;
}
.nsWarns {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-top: 5px;
}