@use '@/styles/variables' as vars;

.loaderBlock {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.spinner {
    position: relative;
    width: 48px;
    height: 48px;
    box-shadow: vars.$shad-input;
    border-radius: 50%;
    border: 2px solid vars.$color-accent;
    border-top-color: rgba(230, 232, 224, 0.1);
    animation: spin 1s linear infinite;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.loaderBlock h4 {
    font-family: vars.$font-subtitle;
    font-size: vars.$size-subtitle;
    font-weight: vars.$fw-regular;
}
