@use '@/styles/variables' as vars;

.loaderBlock {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 11;
}

.spinner {
    position: relative;
    width: 48px;
    height: 48px;
    box-shadow: vars.$shad-input;
    border-radius: 50%;
    border: 2px solid vars.$color-accent;
    border-top-color: rgba(230, 232, 224, 0.1);
    animation: spin 1s linear infinite;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.loaderBlock h4 {
    font-family: vars.$font-subtitle;
    font-size: vars.$size-subtitle;
    font-weight: vars.$fw-regular;
}

.loadingScreen {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    background-color: vars.$main-bg-loading;
    opacity: 0;
    transition: opacity 0.2s ease;
}
.visionLoadScreen {
    z-index: 10;
    opacity: 1;

}