@use '@/styles/variables' as vars;
@use '@/styles/global';

.headerBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 2px solid vars.$border-color-main;
}
.headerBlock h1 {
    width: fit-content;
    font-size: vars.$size-h1;
    padding-bottom: 10px;
    border-bottom: 2px solid vars.$border-color-main;
    text-transform: capitalize;
}
.headerBlock p {
    margin: 15px;
    width: fit-content;
    font-family: vars.$font-text ;
    font-size: vars.$size-subtitle;
    font-weight: vars.$fw-light;
}


.findDomainBlock {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    justify-content: center;
    width: 1025px;
    align-items: center;
}
.formBlock {
    margin-bottom: 40px;
    display: flex;
    gap: 15px;
}


.responseBlock {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    width: fit-content;
    border-bottom: 2px solid vars.$border-color-main;
    border-top: 2px solid vars.$border-color-main;
    padding: 30px;
    margin: auto;
}

.resaultBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 40px;
}
