@use '@/styles/variables' as vars;

.button {
    background: vars.$button-bg;
    border: 1px solid vars.$border-color-main;
    border-radius: 10px;
    color: vars.$color-text-main;
    font-size: vars.$size-text;
    font-family: vars.$font-heading;
    text-transform: uppercase;
    padding: 12px 20px;
    font-weight: vars.$fw-medium;
    box-shadow: vars.$shad-butt;
    transition: all 0.2s ease;
}
.button:hover {
    transform: translateY(-1px);
    box-shadow: vars.$shad-butt-hover;
    cursor: pointer;
}

.button:active {
    transform: translateY(0);
    border-color: vars.$border-color-active;    
    box-shadow: vars.$shad-butt-active;
}

.button:focus-visible {
  outline: none;
  box-shadow: vars.$shad-focus, vars.$shad-butt
}

button:disabled {
    background: vars.$button-disabled-bg;
    border-color: vars.$button-disabled-border;
    color: vars.$button-disabled-text;
    box-shadow: vars.$shad-butt-disabled;
    cursor: default;
    transform: none;
}
.button:disabled:hover {
    box-shadow: vars.$shad-butt-disabled;
    cursor: default;
    transform: none;
}
.button:disabled:active {
    box-shadow: vars.$shad-butt-disabled;
    cursor: default;
    transform: none;
}