@use '@/styles/variables' as vars;

.cardBlock {
    border: 2px solid vars.$border-color-card;
    box-shadow: vars.$shad-card;
    border-radius: 10px;
    background-color: vars.$color-bg-card;
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    cursor: pointer;
    transition: all 0.2s ease;    
}
.cardBlock:hover {
    transform: scale(0.995);  
    background-color: vars.$color-solid-card; 
}

.summaryBlock {
    width: 100%;
    padding: 10px;
    min-height: 136px;
}
.summaryBlock .headerCard {
    padding-bottom: 10px;
    border-bottom: 1px solid vars.$border-color-main;
}
.summaryBlock p {
    display: block;
    margin-top: 10px;
    font-weight: vars.$fw-light !important;
    border-bottom: 1px solid vars.$border-color-main;
    height: 60px;
    overflow-y: auto;
}

.headerCard {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cardBlock p {
    font-size: vars.$size-text;
    font-weight: vars.$fw-light;
    color: vars.$color-text-second;
}

.showStatus {
    position: absolute;
    display: flex;
    align-self: end;
    flex-direction: row-reverse;
    gap: 10px;
    align-items: center;
}
.iconStatus {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.iconStatus.ok {
    background-color: vars.$color-success;
}
.iconStatus.warning {
    background-color: vars.$color-warning;
}
.iconStatus.error {
    background-color: vars.$color-error;
}
.showStatus p {
    font-size: vars.$size-small;
    color: vars.$color-text-muted;
    text-transform: uppercase;
}

.cardBlock:nth-child(1) {
    justify-self: end;
    align-self: end;
}
.cardBlock:nth-child(2) {
    justify-self: start;
    align-self: end;
}
.cardBlock:nth-child(3) {
    justify-self: end;
    align-self: start;
}
.cardBlock:nth-child(4) {
    justify-self: start;
    align-self: start;
}

.cardDetails {
    display: flex;
    flex-direction: column;
    // gap: 10px;
    border: 1px solid vars.$border-color-main;
    border-radius: 8px;
    margin: 20px 0 0;
    padding: 10px 20px;
    height: 100%;
}
.cardBlock:hover .cardDetails,
.cardBlock:hover .noData {
    border: 1px solid vars.$color-accent-soft;
}

.noData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    font-size: vars.$size-subtitle;
    font-weight: vars.$fw-regular;
    color: vars.$color-text-second;
    gap: 15px;
    border: 1px solid vars.$border-color-main;
    border-radius: 8px;
    margin: 20px 0 0;
    transition: all 0.2s ease;
}
.noData h4 {
    text-transform: uppercase;
}
.noData p {
    text-align: center;
    line-height: 1.5;
}

.summaryBlock .noData {
    height: fit-content;
    gap: 5px;
    padding: 10px;
    margin: 10px 0 0;
}