@use 'styles/variables' as vars;
@use 'styles/reset';

* {
    font-family:  vars.$font-text;
}

h1,
h2 {
    font-family: vars.$font-heading;
    font-weight: vars.$fw-medium;
}


#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    background: vars.$main-bg;
    color: vars.$color-text-main;
}
