@import 'styles/variables';
@import 'styles/_reset.scss';

* {
    font-family:  $font-text;
}

h1,
h2 {
    font-family: $font-heading;
    font-weight: $fw-medium;
}


#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    background: $main-bg;
    color: $text-color-main;
}
